@import '../styles/variables.scss';
@import '../styles/mixins.scss';

/* ---- STYLES ----- */
.layout {
    width: 100%;
    box-sizing: border-box;
    @extend %col-center;
    background: $dark-bg;
    color: white;
}
.flexContainer {
    width: 100%;
    height: 100vh;
    @extend %row-center-left;
}
.header {
    height: 100%;
    width: 75px;
    box-sizing: border-box;
}
.main {
    position: relative;
    width: calc(100% - 75px);
    height: 100%;
    padding: $padding-std;
    @extend %col-top-left;
}